<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Ekazuki">
        <!-- <link rel="icon" href="../../../../favicon.ico"> -->

        <title>Ekasite - Minecraft</title>
        <script data-main="/minecraft/js/app" src="/minecraft/js/lib/require.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

        <link href="/minecraft/css/home.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar bw-gradient">
                <a class="navbar-brand" href="/">
                  <img src="/session/img/logo.png" width="30" height="30" alt="">
                </a>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="real-time">
                    <label class="custom-control-label white-font" for="real-time">In real-time information</label>
                </div>
                <a class="navbar-brand" href="/session/disconnect">
                    <p class="nav-p">Disconnect</p>
                </a>
              </nav>
        </header>
    </body>
    <div class="row container-large margin-top-50">
        <div class="col-xl-2 card-left">
            <div class="card little-card white-font">
                <div class="orange-dark">
                    <p class="white-font text-center cards-title">Online players</p>
                </div>
                <div class="orange-gradient-horizontal text-center table-container">
                    <table class="table">
                        <thead>
                            <th class="th t-first">Players</th>
                            <th class="th">Servers</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td t-first"></td>
                                <td class="td"></td>
                            </tr>
                            <tr>
                                <td class="td t-first"></td>
                                <td class="td"></td>
                            </tr>
                            <tr>
                                <td class="td t-first"></td>
                                <td class="td"></td>
                            </tr>
                            <tr>
                                <td class="td t-first"></td>
                                <td class="td"></td>
                            </tr>
                            <tr>
                                <td class="td t-first"></td>
                                <td class="td"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-10 white-font" id="row-container">
            <!-- this should not be showed it's only here to be copy-paste by JS -->
            <div class="row white-font" id="card-row-example" style="display: none;">
                <div class="col-xl-6" id="card-example">
                    <div class="card normal-card">
                        <div class="green-dark">
                            <p class="white-font text-center cards-title">Manage Servers</p>
                        </div>
                        <div class="green-gradient-horizontal text-center table-container">
                            <table class="table">
                                <thead>
                                    <th class="th t-first">Online servers</th>
                                    <th class="th">Offline servers</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="td t-first"></td>
                                        <td class="td"></td>
                                    </tr>
                                    <tr>
                                        <td class="td t-first"></td>
                                        <td class="td"></td>
                                    </tr>
                                    <tr>
                                        <td class="td t-first"></td>
                                        <td class="td"></td>
                                    </tr>
                                    <tr>
                                        <td class="td t-first"></td>
                                        <td class="td"></td>
                                    </tr>
                                    <tr>
                                        <td class="td t-first"></td>
                                        <td class="td"></td>
                                    </tr>
                                    <tr>
                                        <td class="td t-first"></td>
                                        <td class="td"></td>
                                    </tr>
                                    <tr>
                                        <td class="td t-first"></td>
                                        <td class="td"></td>
                                    </tr>
                                    <tr>
                                        <td class="td t-first"></td>
                                        <td class="td"></td>
                                    </tr>
                                    <tr>
                                        <td class="td t-first"></td>
                                        <td class="td"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
